<%- include('partials/header'); -%>

    <body>
        <%-include('partials/navigation');-%>
            <div class="container">
                <div class="wrapper">
                    <h1>Report</h1>
                </div>
                <div class="data">
                    <form action="AdminPage.php" method="GET">
                        <div id="repoForm">
                            <label id="select">Generate Report From</label>
                            <select id="category" name="category">
                                <option  value="food_menu">food menu table</option>
                        </select>
                            <input type="submit" name="submit" value="Submit" class="btns" id="subbtn">
                        </div>


                    </form>


                    <table class="tab3">
                        <form action="csv2.php" method="GET">
                            <tr>
                                <th> <input type="submit" name="submit2" value="Export" class="btn3"></th>
                            </tr>
                        </form>

                    </table>
                </div>
            </div>
    </body>
    <br>
    <footer class="footer">
        <div id="btm" class="feedback col-3">
            <address>
                call: +251110000101<br> +251967882862
            </address>
            <p style="font-size:16px; text-align:center; ">Copyright &copy; Mysteria 2021/22, all rights reserved </p>
        </div>
    </footer>

    </html>