<!DOCTYPE html>
<html>

<head>
    <meta name="charset" content="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <meta name="author" content="">
    <meta name="description" content="webpage for mysteria restaurant's Admin Page">
    <meta name="keywords" content="admin,mysteria">
    <title>Admin page</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/AdminStyle.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/reportstyle.css">
</head>