<header class="header">
    <div class="headerNav" style="margin-left: 5%;">
        <a href="http://localhost:5500/home">Home</a>
        <a href="http://localhost:5500/pages/importCSV">Import</a>
        <a href="http://localhost:5500/pages/logout">Log Out </a>
        <form id="srchform" role="search">
            <input type="search" id="query" name="q" placeholder="Search" aria-label="search through site content">
            <button id="srchbtn" type="submit"><img id="srchimg" src="/public/images/searchwhite.png"></button>
        </form>
    </div>
</header>